rpy2>=3.4.5
r-ggplot2>=3.3.5
r-fitdistrplus>=1.1_6
r-devtools>=2.4.3
bioconductor-rcistarget>=1.14.0
bioconductor-singler>=1.8.1
bioconductor-biocinstaller>=1.26.1
bioconductor-aucell>=1.16.0
bioconductor-rtracklayer>=1.54.0
bioconductor-flowcore>=2.6.0
r-plyr>=1.8.6
r-text2vec>=0.6
r-lda>=1.4.2
r-tidyr>=1.2.0
r-rann>=2.6.1
r-mclust>=5.4.9
r-igraph>=1.2.11
r-cluster>=2.1.2
numpy>=1.21.5
scipy>=1.8.0
dash>=2.2.0
dash-bootstrap-components>=1.0.3
dash-bio>=1.0.1
scikit-learn>=1.0.2
scikit-learn-extra>=0.2.0
scanpy>=1.8.2
umap-learn>=0.5.2
anndata>=0.7.8
matplotlib>=3.5.1
plotly>=5.6.0
python-kaleido>=0.2.1
tifffile>=2022.2.9
leidenalg>=0.8.9
zodb>=5.6.0
anndata2ri>=1.0.6
gseapy>=0.10.8
swig>=3.0.12
mkl>=2022.0.0
faiss-cpu>=1.7.2
scikit-image>=0.19.2
pyensembl>=1.9.4
pydiffmap>=0.2.0.1
diffxpy>=0.7.4
BinToGene>=1.23