dash
dash-bootstrap-components
dash_bio
numpy
scipy
scikit-learn
scikit-learn-extra
scikit-image
pandas
anndata
scanpy
matplotlib
plotly
kaleido
tifffile
igraph
leidenalg
umap-learn
faiss-cpu
joblib
ZODB
rpy2
anndata2ri
gseapy
pydiffmap
diffxpy
kneed
BinToGene
