ZODB
plotly
dash
dash-bootstrap-components
kaleido
pandas
numpy
joblib
leidenalg
scipy
scikit-learn
scikit-learn-extra
umap-learn
anndata
scanpy
rpy2
anndata2ri
faiss-cpu
gseapy
tifffile
matplotlib
scikit-image
kneed
pydiffmap
diffxpy
BinToGene
dash_bio
