:root {
    --dark-blue: #003f5c;
    --light-blue: #7D8C8F;
    --white: #ffffff;
    --green: #43aa8b;
    --dark-font: #212529;
    --selected-red: #d9230f;
    --light-purple: #efeffc;
}

* {
    border-radius: 0 !important;
}

* {
    font-family: Helvetica;
}

.vline {
    border-left: 1px solid var(--bs-secondary);
    width: 5px;
    height: 30px;
    margin-right: 5px;
}

.light-text {
    color: var(--bs-secondary);
}

#toggle-notifications-btn {
    color: white;
    font-size: 20px;
}

#notifications-toast {
    position: absolute;
    visibility: visible;
    /* overflow-y: scroll; */
    display: block;
    z-index: 15;
}

#modes-nav .nav-link:hover {
    cursor: pointer;
}

.long-dropdown .dropdown-toggle,
.long-dropdown .dropdown-menu {
    width: 100%;
}

#modes-nav .btn {
    color: var(--dark-font);
    background-color: var(--bs-light);
}

#modes-nav .btn:hover {
    color: white;
    background-color: var(--bs-primary);
}

#modes-nav .btn,
#modes-nav .btn:hover,
#modes-nav .btn:focus,
#modes-nav .btn.focus {
    border: none;
}

.shape-text {
    background-color: white;
    /* width: 50%; */
    font-family: monospace;
    /* font-weight: 600; */
    font-size: 14px;
}

.card-header {
    font-weight: 500;
    background-color: var(--bs-primary);
    color: white;
}

.sidebar .list-group-item-text {
    margin-bottom: 0;
}

.sidebar .card-body {
    color: var(--light-blue);
    font-weight: 500;
}

.sidebar .card-body:hover {
    color: var(--dark-font);
    cursor: pointer;
}

.fas.input-group-text,
.fab.input-group-text,
.far.input-group-text,
.fa.input-group-text,
.fal.input-group-text {
    display: flex;
}

.prep-addon {
    width: 95px;
}

.prep-addon .input-group-text {
    width: 100%;
}

.popover {
    width: 400px;
    max-width: 600px;
}

.color-popover {
    min-width: 800px;
    width: 800px;
}

.no-display {
    display: none;
}

.block-display {
    display: block;
}

.active-style {
    color: var(--bs-success);
    font-size: 15px;
}

.disabled-style {
    color: var(--bs-warning);
    font-size: 15px;
}

.active-plot-bg {
    background-color: var(--bs-light);
    color: var(--bs-primary);
}

.non-active-plot-bg {
    background-color: white;
    color: var(--bs-primary);
}

.popover form {
    margin-bottom: 10px;
}

button.export {
    font-size: 11px;
    line-height: 22px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    background-color: #8e8c84;
    border-color: #8e8c84;
}

button.export:hover {
    color: #fff;
    background-color: #7b7971;
    border-color: #74726b;
    border-color: transparent;
}

.analysis-container {
    min-height: 200px;
    height: 100%;
}

.prep-card-long {
    height: 100%;
}

.no-arrow {
    -moz-appearance: textfield !important;
    -webkit-appearance: none;
    margin: 0;
    padding-right: 0;
}

.tooltip {
    text-transform: unset;
    font-size: 12px;
}

.small {
    font-size: 10px;
}